<html>
<h1>Administrator's Panel</h1><br><br>
<h2><a href = "{{url_for('articlesJSON')}}">Export database to JSON</a></h2><br>
<h2><a href ="{{url_for('newArticle')}}">Add new article with title, slug, url for embeded code, text, and category name.</a></h2><br>
<h2><a href ="{{url_for('updateArticle')}}">Update an article's title, slug, url for embeded code, text, or category id.</a></h2><br>
<h2><a href ="{{url_for('updateCategory')}}">Update a category's name.</a></h2><br>
<h2><a href ="{{url_for('deleteArticle')}}">Caution! Delete an article from the database, this operation cannot be undone.</a></h2>

</html>