<html>
 <form action="#" method="POST">
 	<h1>Update an article, leave the areas blank if you don't want to update them.</h1>
 	<br>
 	Fixed Article ID(Must be provided):<input type="text" name="article_id" value=""><br>
 	New Title:<input type="text" name="title" value=""><br>
 	New Slug:<input type="text" name="slug" value=""><br>
 	New Url in the Embeded Code:<input type="text" name="embeded_code" value=""><br>
 	New Category ID:<input type="text" name="category_id" value=""><br>
 	Enter new text here:<br>
 	<textarea name="text"></textarea>
 	<br>

 	<input type="submit" value="Update">
 </form>
	

 	
</html>